.App {
  text-align: center;
}
.loginregister{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.login,.register,.addtodo{
  width: 25%;
  margin: 1rem auto;
  background-color: #f5f5f5;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px black;
}
.logout{
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 1.2rem;
  box-shadow: 0 0 6px 0 black;
}